<h1>This is the all images page</h1>


{{#if data}}

{{#each data}}
<div>
<form action="/view" method="GET" body="{{{filename}}}" enctype="multipart/form-data">
  <button type="submit" value="{{filename}}" name="imageInfo">choose this image</button>
  <img src='/uploads/{{{filename}}}' alt="{{{filename}}}">
</form>
</div>

{{/each}}
{{/if}}