<div class="d-flex mw-100 row justify-content-center">


  {{#if data}}

  {{#each data}}
  <div>
    <div class="col p-0 ">
      <form action="/view" method="GET" body="{{{filename}}}" enctype="multipart/form-data">
        <button type="submit" value="{{newname}}" name="imageInfo" style="border: 1.5px solid grey; margin-top: 10px; margin-left: 10px">
          <img src='/uploads/{{{newname}}}' alt="{{{filename}}}">
        </button>
        
      </form>
    </div>
  </div>
  {{/each}}
  {{/if}}

</div>