<h1>This is the page for each image</h1>




{{#if filename}}
<form action="/preview" method="POST" enctype="application/x-www-form-urlencoded" >
<img src='/uploads/{{{filename}}}' alt="{{filename}}" >
<input type="text" name="top" required>
<input type="text" name="bottom" required>
{{!-- <input type="submit" value="{{filename}}" name="imageInfo"> --}}

<button type="submit" value="{{filename}}" name="imageInfo">hahahah</button>

</form>
{{/if}}

