<div class="text-center">

  <h1 class="mt-5">Let preview your meme, sir!</h1>

  {{#if newfilename}}


  <img class="mt-5" src='/uploads/{{{newfilename}}}' alt="{{{newfilename}}}">
  <div class="mt-5"> <a href="/uploads/{{{newfilename}}}"> <button class="btn btn-primary" id="btn-download"
        download="{{{newfilename}}}">Download</button></a></div>




  {{/if}}

</div>